@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

main {
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: url("../../Assets/v1015-101a.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  position: fixed;
  width: 100%;
  height: 90px;
  padding: 20px;
  background-color: #a6f6fd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
}

.navLogo {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}

.textLogo {
  font-size: 24px;
}

header {
  width: 100vw;
  height: 90px;
  padding: 30px;
  background-color: #67b3e6;
}